@import "bulma/css/bulma.css";
@import "@fortawesome/fontawesome-free/css/all.min.css";

#welcome-container {
    min-height: 100vh;
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s ease, visibility 0.3s ease, min-height 0.3s ease;
}

#welcome-container.is-completely-gone {
    opacity: 0;
    visibility: hidden;
    min-height: 0 !important;
    pointer-events: none;
    max-height: 0;
    padding: 0;
}

.card {
    height: max-content;
}

:root {
    --bulma-column-gap: .3rem;
}

:root {
    --bulma-warning-h: 40deg;
    --bulma-warning-s: 90%;
    --bulma-warning-l: 60%;
}

#status.column{
    padding-left: 0;
    padding-right: 0;
}

:root {
    --is-link-70: hsl(var(--bulma-link-h), var(--bulma-link-s), 70%);
    --is-danger-70: hsl(var(--bulma-danger-h), var(--bulma-danger-s), 70%);
    --is-success-70: hsl(var(--bulma-success-h), var(--bulma-success-s), 70%);
    --is-gold: #d4af37;
}

input[type="checkbox"] {
    accent-color: var(--is-link-70);
}

input[type="checkbox"].redCheck {
    accent-color: var(--is-danger-70);
}

input[type="checkbox"].greenCheck {
    accent-color: var(--is-success-70);
}

.button.is-love.is-outlined {
    background-color: transparent;
    border-color: #ff8fb0;
    color: #FF8FB0FF;
}

.button.is-love.is-outlined:hover,
.button.is-love.is-outlined.is-hovered {
    background-color: #FF8FB0FF;
    border-color: #FF8FB0FF;
    color: #fff;
}

.button.is-love.is-outlined:focus,
.button.is-love.is-outlined.is-focused,
.button.is-love.is-outlined:active,
.button.is-love.is-outlined.is-active {
    border-color: #FF8FB0FF;
    color: #FF8FB0FF;
}
.button.is-love.is-outlined:focus:not(:active),
.button.is-love.is-outlined.is-focused:not(:active) {
    box-shadow: 0 0 0 0.125em rgba(255, 183, 206, 0.25);
}

.button.is-github.is-outlined {
    background-color: transparent;
    border-color: #b870ff;
    color: #b870ff;
}

.button.is-github.is-outlined:hover,
.button.is-github.is-outlined.is-hovered {
    background-color: #8534f3;
    border-color: #8534f3;
    color: #fff;
}

.button.is-github.is-outlined:focus,
.button.is-github.is-outlined.is-focused,
.button.is-github.is-outlined:active,
.button.is-github.is-outlined.is-active {
    border-color: #8534f3;
    color: #8534f3;
}
.button.is-github.is-outlined:focus:not(:active),
.button.is-github.is-outlined.is-focused:not(:active) {
    box-shadow: 0 0 0 0.125em rgba(255, 183, 206, 0.25);
}