// Path to Bulma's sass folder
@use "bulma/sass" with (
  $family-primary: '"EB Garamond", serif',
  $family-secondary: '"Cinzel", serif',

  $title-family: '"Cinzel", serif',
  $subtitle-family: '"Cinzel", serif',

  $primary: #D5C6A9,
  $danger: #A41720,
  $success: #0A5C36,
  $warning: #B26E03,
  $info: #0F4C81,
  $link: #A41720,
  $control-border-width: 2px,
  $input-shadow: none,

  $body-background-color: #DFD2B7,
  $card-background-color: #EDE3D0,
  $card-header-background-color: #F7F2E8,
  $box-background-color: #F7F2E8,
  $table-background-color: #F7F2E8,
  $table-striped-row-even-background-color: #EDE3D0,
  $table-cell-border-color: #DFD2B7,
  $table-row-hover-background-color: #D5C6A9,
  $table-striped-row-even-hover-background-color: #D5C6A9,

  $card-color: #ffffff,
  $card-header-color: #ffffff,
);